@model HAICOP.Models.EditAvis


<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <form class="form" asp-controller="Avis" asp-action="EditAvis" method="post" novalidate="" data-form="true" data-parsley-focus="none" enctype="multipart/form-data">

        <input type="hidden" asp-for="DossierID" />
        <input type="hidden" asp-for="Url" />
        <input type="hidden" asp-for="MailID" />
        <input type="hidden" asp-for="MettingID" />

        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                    <h4 class="m17-sectiontitle__title  text__section-title">البريد</h4>
                </div>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Ref" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="Ref" class="form-field__input form-field__input--text" />
                <span asp-validation-for="Ref" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="OriginRef" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="OriginRef" class="form-field__input form-field__input--text" />
                <span asp-validation-for="OriginRef" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="From" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="From" class="form-field__input form-field__input--text" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="MailType" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                    <select asp-for="MailType" asp-items="Html.GetEnumSelectList<MailType>()" class="form-field__input form-field__input--select">
                        <option value=""></option>
                    </select>
                </span>
                <span asp-validation-for="MailType" class="text-danger"></span>
            </div>

            <div class="grid__column grid__column--2">
                <label asp-for="MailNature" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                    <select asp-for="MailNature" asp-items="Html.GetEnumSelectList<MailNature>()" class="form-field__input form-field__input--select">
                        <option value=""></option>
                    </select>
                </span>
                <span asp-validation-for="MailNature" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="MailDate" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="MailDate" class="form-field__input form-field__input--text" />
                <span asp-validation-for="MailDate" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="Desc" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <textarea asp-for="Desc" class="form-field__input form-field__input--text"> </textarea>
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Url" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--10">
                <input asp-for="Location" class="form-field__input form-field--upload" accept=".pdf" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>







        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m17-sectiontitle" data-component="m17-sectiontitle">
                    <h4 class="m17-sectiontitle__title  text__section-title">الإجتماع</h4>
                </div>
            </div>
        </div>


        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="MettDate" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="MettDate" class="form-field__input form-field__input--text" />
                <span asp-validation-for="MettDate" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="NotifDate" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="NotifDate" class="form-field__input form-field__input--text" />
                <span asp-validation-for="NotifDate" class="text-danger"></span>
            </div>
        </div>


        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="MettDesc" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--10">
                <textarea asp-for="MettDesc" class="form-field__input form-field__input--text"> </textarea>
                <span asp-validation-for="MettDesc" class="text-danger"></span>
            </div>
        </div>


        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="MettNbr" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="MettNbr" class="form-field__input form-field__input--text" />
                <span asp-validation-for="MettNbr" class="text-danger"></span>
            </div>

            <div class="grid__column grid__column--2">
                <label asp-for="DessisionID" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                    <select asp-for="DessisionID" asp-items="@ViewBag.DessisionID" class="form-field__input form-field__input--select">
                        <option value=""></option>
                    </select>
                </span>
                <span asp-validation-for="DessisionID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-field__button">
            <button class="button button--secondary" type="submit">تحيين</button>
        </div>


    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


