@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="haicop">
    <meta name="author" content="jemix">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" href="/images/ios/fickle-logo-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ios/fickle-logo-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ios/fickle-logo-114.png" />
    <link rel="shortcut icon" href="/images/ico/fab.ico">
    <title>HAICOP</title>
    <link href="/css/bootstrap-rtl.css" rel="stylesheet">
    <link href="/css/rtl-css/style-rtl.css" rel="stylesheet">
    <link href="/css/rtl-css/responsive-rtl.css" rel="stylesheet">

</head>
<body class="single-page">
<div id="outer-wrapper">
    <div id="inner-wrapper">
        <div class="not-found">
            <h1>1 <i class="fa fa-meh-o"></i> 5</h1>
            <p>الطلب غير موجود</p>
            <a href="/"><i class="fa fa-arrow-left"></i> الرجوع</a>
        </div>
    </div>
</div>
</body>

</html>