<html lang="ar-TN" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HAICOP">
    <meta name="author" content="jemix">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />



    <title>@ViewBag.Menu - HAICOP</title>

    <link href="~/css/ar/static.ar.b.css" media="all" rel="stylesheet" type="text/css">
    <link href="~/css/ar/dewa-style.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="~/css/ar/typography.ar.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/css/ar/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="~/lib/fancybox/dist/jquery.fancybox.css" rel=" stylesheet" type="text/css" media="screen" />


    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/lib/eventie/eventie.js" type="text/javascript"></script>
    <script src="~/lib/doc-ready/doc-ready.js" type="text/javascript"></script>

    
    <script src="~/lib/fancybox/dist/jquery.fancybox.min.js" type="text/javascript"></script>

    @RenderSection("Styles", required: false)

    <link href="~/css/site.css" rel="stylesheet">

</head>

<body id="page">
    <!--[if lte IE 8]>
        <div class="browserupgrade">
            <div class="grid browserupgrade__grid-row">
                <div class="grid__column grid__column--12">
                        <p dir="rtl" class="browserupgrade__message">المتصفح قديم. <a class="browserupgrade__link" href="/compatibility.html">الرجاء القيام بترقية المتصفح</a> للاستخدام الأمثل للموقع.</p>
                </div>
            </div>
        </div>
    <![endif]-->


    

    @await Html.PartialAsync("_Header")


    <div id="rs_area">
        @RenderBody()
    </div>

    @await Html.PartialAsync("_Footer")


    @RenderSection("Scripts", required: false)

    <script src="~/js/staticc3db.js" type="text/javascript"></script>

</body>
</html>
