@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var role = (string) ViewBag.role.ToString();
    switch(role)
    {
        case "Chef": {
            <ul class="mainNav">
                <li>
                    <a href="/Doc/Dashboard">
                        <i class="fa fa-dashboard"></i> <span>لوحة القيادة</span>
                    </a>
                </li>
            </ul>
        }break;
        case "Rapporteur": {

        }break;
        case "BOC": {
            <ul class="mainNav">
                <li>
                    <a href="/">
                        <i class="fa fa-dashboard"></i> <span>لوحة القيادة</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file-text"></i> <span>الملفات</span> 
                    </a>
                    <ul>
                        <li><a href="/Doc"> القائمة الجملية</a></li>
                        <li><a href="/Doc/New">تسجيل ملف</a></li>
                        <li class="divider"></li>
                        <li><a href="/Doc/Rep">القائمة الجملية للملفات التي تم الاجابة عليها</a></li>      
                    </ul>
                </li>
            </ul>
        }break;
        case "President": {
            <ul class="mainNav">
                <li>
                    <a href="/">
                        <i class="fa fa-dashboard"></i> <span>لوحة القيادة</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i> <span>المستعملين</span> 
                    </a>
                    <ul>
                        <li><a href="/Account">التصرف في المستعملين</a></li>
                        <li><a href="/Account/Register">اضافة مستعمل</a></li>
                        <li><a href="/Role">التصرف في حقوق المستعملين</a></li>
                        <li><a href="/Role/Create"> اضافة حق مستعمل</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file-text"></i> <span>الملفات</span> 
                    </a>
                    <ul>
                        <li><a href="/Doc"> القائمة الجملية</a></li>
                        <li><a href="/Doc/New">تسجيل ملف</a></li>
                        <li class="divider"></li>
                        <li><a href="/Doc/Rapp">تكليف مقرر</a></li>
                        <li><a href="/Doc/EditRapp">تحيين مقرر</a></li>
                        <li class="divider"></li>
                        <li><a href="/Doc/Rep">القائمة الجملية للملفات التي تم الاجابة عليها</a></li>     
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-building"></i> <span>الثوابت</span> 
                    </a>
                    <ul>
                        <li><a href="/Invest">التصرف في الممولين</a></li>
                        <li><a href="/Invest/Create">اضافة ممول </a></li>
                        <li class="divider"></li>
                        <li><a href="/Acheteur">التصرف في المشتري العمومي</a></li>
                        <li><a href="/Acheteur/Create">اضافة مشتري العمومي</a></li>
                        <li class="divider"></li>
                        <li><a href="/Fournisseur"> التصرف في أصحاب الصفقات</a></li>
                        <li><a href="/Fournisseur/Create">اضافة صاحب الصفقة</a></li>
                        <li class="divider"></li>
                        <li><a href="/Comm">التصرف في الهياكل</a></li>
                        <li><a href="/Comm/Create">اضافة هيكل</a></li>
                        <li class="divider"></li>
                        <li><a href="/Agent">التصرف في المقررين</a></li>
                        <li><a href="/Agent/Create">اضافة مقرر</a></li>
                        <li class="divider"></li>
                        <li><a href="/Dess">التصرف في القرارات</a></li>
                        <li><a href="/Dess/Create">اضافة قرار</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-search"></i> <span>البحث</span> 
                    </a>
                    <ul>
                        <li><a href="/Search/TypeDoc">  طبيعة الملف </a></li>
                        <li class="divider"></li>
                        <li><a href="/Search/Rapp">  مقرر </a></li>
                        <li><a href="/Search/Struct"> لجنة </a></li>
                        <li class="divider"></li>
                        <li><a href="/Search/Acheteur"> مشتري عمومي </a></li>
                        <li><a href="/Search/Fournisseur"> صاحب الصفقة </a></li>
                        <li class="divider"></li>
                        <li><a href="/Search/TypeFinancement"> نوع التمويل </a></li>
                        <li><a href="/Search/ForeignInv"> الممول </a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i> <span>الإحصائيات</span> 
                    </a>
                    <ul>
                        <li><a href="/Home/MonthStat"> الإحصائيات الشهرية </a></li>
                        <li class="divider"></li>

                        
                    </ul>
                </li>
            </ul>
        }break;
        case "Admin": {
            <ul class="mainNav">
                <li>
                    <a href="/">
                        <i class="fa fa-dashboard"></i> <span>لوحة القيادة</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i> <span>المستعملين</span> 
                    </a>
                    <ul>
                        <li><a href="/Account">التصرف في المستعملين</a></li>
                        <li><a href="/Account/Register">اضافة مستعمل</a></li>
                        <li><a href="/Role">التصرف في حقوق المستعملين</a></li>
                        <li><a href="/Role/Create"> اضافة حق مستعمل</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file-text"></i> <span>الملفات</span> 
                    </a>
                    <ul>
                        <li><a href="/Doc"> القائمة الجملية</a></li>
                        <li><a href="/Doc/New">تسجيل ملف</a></li>
                        <li class="divider"></li>
                        <li><a href="/Doc/Rapp">تكليف مقرر</a></li>
                        <li><a href="/Doc/EditRapp">تحيين مقرر</a></li>
                        <li class="divider"></li>
                        <li><a href="/Doc/Rep">القائمة الجملية للملفات التي تم الاجابة عليها</a></li>     
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-building"></i> <span>الثوابت</span> 
                    </a>
                    <ul>
                        <li><a href="/Invest">التصرف في الممولين</a></li>
                        <li><a href="/Invest/Create">اضافة ممول </a></li>
                        <li class="divider"></li>
                        <li><a href="/Acheteur">التصرف في المشتري العمومي</a></li>
                        <li><a href="/Acheteur/Create">اضافة مشتري العمومي</a></li>
                        <li class="divider"></li>
                        <li><a href="/Fournisseur"> التصرف في أصحاب الصفقات</a></li>
                        <li><a href="/Fournisseur/Create">اضافة صاحب الصفقة</a></li>
                        <li class="divider"></li>
                        <li><a href="/Comm">التصرف في الهياكل</a></li>
                        <li><a href="/Comm/Create">اضافة هيكل</a></li>
                        <li class="divider"></li>
                        <li><a href="/Agent">التصرف في المقررين</a></li>
                        <li><a href="/Agent/Create">اضافة مقرر</a></li>
                        <li class="divider"></li>
                        <li><a href="/Dess">التصرف في القرارات</a></li>
                        <li><a href="/Dess/Create">اضافة قرار</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-search"></i> <span>البحث</span> 
                    </a>
                    <ul>
                        <li><a href="/Search/TypeDoc">  طبيعة الملف </a></li>
                        <li class="divider"></li>
                        <li><a href="/Search/Rapp">  مقرر </a></li>
                        <li><a href="/Search/Struct"> لجنة </a></li>
                        <li class="divider"></li>
                        <li><a href="/Search/Acheteur"> مشتري عمومي </a></li>
                        <li><a href="/Search/Fournisseur"> صاحب الصفقة </a></li>
                        <li class="divider"></li>
                        <li><a href="/Search/TypeFinancement"> نوع التمويل </a></li>
                        <li><a href="/Search/ForeignInv"> الممول </a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i> <span>الإحصائيات</span> 
                    </a>
                    <ul>
                        <li><a href="/Home/MonthStat"> الإحصائيات الشهرية </a></li>
                        <li class="divider"></li>

                        
                    </ul>
                </li>
            </ul>
        }break;
        case "root": {
            <ul class="mainNav">
                <li>
                    <a href="/">
                        <i class="fa fa-dashboard"></i> <span>لوحة القيادة</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i> <span>المستعملين</span> 
                    </a>
                    <ul>
                        <li><a href="/Account">التصرف في المستعملين</a></li>
                        <li><a href="/Account/Register">اضافة مستعمل</a></li>
                        <li><a href="/Role">التصرف في حقوق المستعملين</a></li>
                        <li><a href="/Role/Create"> اضافة حق مستعمل</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file-text"></i> <span>الملفات</span> 
                    </a>
                    <ul>
                        <li><a href="/Doc"> القائمة الجملية</a></li>
                        <li><a href="/Doc/New">تسجيل ملف</a></li>
                        <li class="divider"></li>
                        <li><a href="/Doc/Rapp">تكليف مقرر</a></li>
                        <li><a href="/Doc/EditRapp">تحيين مقرر</a></li>
                        <li class="divider"></li>
                        <li><a href="/Doc/Rep">القائمة الجملية للملفات التي تم الاجابة عليها</a></li>     
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-building"></i> <span>الثوابت</span> 
                    </a>
                    <ul>
                        <li><a href="/Invest">التصرف في الممولين</a></li>
                        <li><a href="/Invest/Create">اضافة ممول </a></li>
                        <li class="divider"></li>
                        <li><a href="/Acheteur">التصرف في المشتري العمومي</a></li>
                        <li><a href="/Acheteur/Create">اضافة مشتري العمومي</a></li>
                        <li class="divider"></li>
                        <li><a href="/Fournisseur"> التصرف في أصحاب الصفقات</a></li>
                        <li><a href="/Fournisseur/Create">اضافة صاحب الصفقة</a></li>
                        <li class="divider"></li>
                        <li><a href="/Comm">التصرف في الهياكل</a></li>
                        <li><a href="/Comm/Create">اضافة هيكل</a></li>
                        <li class="divider"></li>
                        <li><a href="/Agent">التصرف في المقررين</a></li>
                        <li><a href="/Agent/Create">اضافة مقرر</a></li>
                        <li class="divider"></li>
                        <li><a href="/Dess">التصرف في القرارات</a></li>
                        <li><a href="/Dess/Create">اضافة قرار</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-search"></i> <span>البحث</span> 
                    </a>
                    <ul>
                        <li><a href="/Search/TypeDoc">  طبيعة الملف </a></li>
                        <li class="divider"></li>
                        <li><a href="/Search/Rapp">  مقرر </a></li>
                        <li><a href="/Search/Struct"> لجنة </a></li>
                        <li class="divider"></li>
                        <li><a href="/Search/Acheteur"> مشتري عمومي </a></li>
                        <li><a href="/Search/Fournisseur"> صاحب الصفقة </a></li>
                        <li class="divider"></li>
                        <li><a href="/Search/TypeFinancement"> نوع التمويل </a></li>
                        <li><a href="/Search/ForeignInv"> الممول </a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i> <span>الإحصائيات</span> 
                    </a>
                    <ul>
                        <li><a href="/Home/MonthStat"> الإحصائيات الشهرية </a></li>
                        <li class="divider"></li>

                        
                    </ul>
                </li>
            </ul>
        }break;
        case "assistant": {
            <ul class="mainNav">
                <li>
                    <a href="/">
                        <i class="fa fa-dashboard"></i> <span>لوحة القيادة</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file-text"></i> <span>الملفات</span> 
                    </a>
                    <ul>
                        <li><a href="/Doc"> القائمة الجملية</a></li>
                        <li><a href="/Doc/New">تسجيل ملف</a></li>  
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-building"></i> <span>الثوابت</span> 
                    </a>
                    <ul>
                        <li><a href="/Invest">التصرف في الممولين</a></li>
                        <li><a href="/Invest/Create">اضافة ممول </a></li>
                        <li class="divider"></li>
                        <li><a href="/Acheteur">التصرف في المشتري العمومي</a></li>
                        <li><a href="/Acheteur/Create">اضافة مشتري العمومي</a></li>
                        <li class="divider"></li>
                        <li><a href="/Fournisseur"> التصرف في أصحاب الصفقات</a></li>
                        <li><a href="/Fournisseur/Create">اضافة صاحب الصفقة</a></li>
                        <li class="divider"></li>
                        <li><a href="/Comm">التصرف في الهياكل</a></li>
                        <li><a href="/Comm/Create">اضافة هيكل</a></li>
                        <li class="divider"></li>
                        <li><a href="/Agent">التصرف في المقررين</a></li>
                        <li><a href="/Agent/Create">اضافة مقرر</a></li>
                        <li class="divider"></li>
                        <li><a href="/Dess">التصرف في القرارات</a></li>
                        <li><a href="/Dess/Create">اضافة قرار</a></li>
                    </ul>
                </li>
            </ul>
        }break;
        default : {
            <ul class="mainNav">
                <li>
                    <a href="/">
                        <i class="fa fa-dashboard"></i> <span>لوحة القيادة</span>
                    </a>
                </li>
            </ul>
        }break;
    }

}

