<ul class="mainNav">
<li>
    <a href="/">
        <i class="fa fa-dashboard"></i> <span>الرئيسية</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-user"></i> <span>المستعملين</span> 
    </a>
    <ul>
        <li><a href="/Account">التصرف في المستعملين</a></li>
        <li><a href="/Account/Register">اظافة مستعمل</a></li>
        <li><a href="/Role">التصرف في حقوق المستعملين</a></li>
        <li><a href="/Role/Create"> اظافة حق مستعمل</a></li>
    </ul>
</li>
<li>
    <a href="#">
        <i class="fa fa-building"></i> <span>الثوابت</span> 
    </a>
    <ul>
        <li><a href="/Invest">التصرف في الممولين</a></li>
        <li><a href="/Invest/Create">اظافة ممول </a></li>
        <li class="divider"></li>
        <li><a href="/Acheteur">التصرف في المشتري العمومي</a></li>
        <li><a href="/Acheteur/Create">اظافة مشتري العمومي</a></li>
        <li class="divider"></li>
        <li><a href="/Fournisseur">التصرف في المزودين</a></li>
        <li><a href="/Fournisseur/Create">اظافة مزود</a></li>
        <li class="divider"></li>
        <li><a href="/Comm">التصرف في الهياكل</a></li>
        <li><a href="/Comm/Create">اظافة هيكل</a></li>
        <li class="divider"></li>
        <li><a href="/Agent">التصرف في المقررين</a></li>
        <li><a href="/Agent/Create">اظافة مقرر</a></li>
        <li class="divider"></li>
        <li><a href="/Dess">التصرف في القرارات</a></li>
        <li><a href="/Dess/Create">اظافة قرار</a></li>
    </ul>
</li>



</ul>