<ul>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
            <span class="fa fa-bell-o"></span>
            <span class="badge badge-red">@ViewBag.Notif.Count</span>
        </a>

        <div class="dropdown-menu right top-notification">
            <h4>المستجدات</h4>
            <ul class="ls-feed">

                @foreach(var item in ViewBag.Notif){
                   <li>
                        <a href="/Search/?q=@item.Subject">
                                            <span class="label label-red">
                                                <i class="fa fa-check white"></i>
                                            </span>
                            @item.Subject.Substring(0, 12) ...
                            <span class="date"> @String.Format("{0: dd/MM/yyyy}", item.ProDate) </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>

    <li class="hidden-xs">
        <a class="right-sidebar-setting" href="javascript:void(0)">
            <i class="fa fa-cogs"></i>
        </a>
    </li>
   
    <li>
         <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" >
            <a href="javascript:void(0)" onclick="$('#logoutForm').submit();"><i class="fa fa-power-off"></i></a>
        </form>
    </li>
    
</ul>