
@using Microsoft.AspNetCore.Identity
@using HAICOP.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model HAICOP.Models.AccountViewModels.ChangePassword

<section id="right-wrapper">
    <!--Right hidden  section close icon start-->
    <div class="close-right-wrapper">
        <a href="javascript:void(0)"><i class="fa fa-times"></i></a>
    </div>
    <!--Right hidden  section close icon end-->

    <!--Tab navigation start-->
    <ul class="nav nav-tabs" id="setting-tab">
        <li><a href="#passwordTab" data-toggle="tab"><i class="fa fa-key"></i> كلمة السر</a></li>
        <li><a href="#profileTab" data-toggle="tab"><i class="fa fa-user"></i> المعطيات الشخصية</a></li>
    </ul>
    <!--Tab navigation end -->

    <!--Tab content start-->
    <div class="tab-content">
        <div class="tab-pane" id="passwordTab">

            <div class="setting-box">
                @if (SignInManager.IsSignedIn(User))
                {
                    <h3 class="ls-header">@UserManager.GetUserName(User)</h3>
                }
                else 
                {
                    <h3 class="ls-header">هناك خطأ</h3>
                }
                
                <div class="setting-box-content">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">تغيير كلمة السر</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" class="ls_form" asp-controller="Account" asp-action="ChangePassword" method="post" id="changepassform" >
                                <input asp-for="UserId" type="hidden" value="@UserManager.GetUserId(User)" />

                                <div class="form-group">
                                    <label asp-for="OldPassword" ></label>
                                    <input asp-for="OldPassword"  class="form-control">
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password" ></label>
                                    <input asp-for="Password"  class="form-control">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" ></label>
                                    <input asp-for="ConfirmPassword"  class="form-control">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                
                                <div class="form-group">
                                    <button class="btn btn-lg btn-success "  type="submit">تغيير</button>
                                </div>
                            </form>
                        </div>
                    </div>    
                </div>
            </div>
            
        </div>
        @await Html.PartialAsync("_Profile")
    </div>
    <!--Tab content -->
</section>