@model HAICOP.Models.UserAgent


<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <form class="form" asp-controller="Account" asp-action="AddAgent" method="post">
        <input type="hidden" asp-for="UserID" />

        <div class="grid__row">
            <div class="grid__column grid__column--3">
                <label asp-for="AgentID" class="form-field__label">مقرر/رئيس لجنة</label>
            </div>
            <div class="grid__column grid__column--8">
                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                    <select asp-for="AgentID" asp-items="ViewBag.AgentID" class="form-field__input form-field__input--select"></select>
                </span>
                <span asp-validation-for="AgentID" class="text-danger"></span>
            </div>
        </div>


        <div class="form-field__button">
            <button class="button button--primary" type="submit">إضافة</button>
        </div>


    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


