@model ChangePassword



<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <form asp-controller="Account" asp-action="ChangePassword" method="post" >

        <input asp-for="UserId" type="hidden" />


        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="OldPassword" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="OldPassword" class="form-field__input form-field__input--text" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="grid__column grid__column--2">
                <label asp-for="Password" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="Password" class="form-field__input form-field__input--text" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            
            <div class="grid__column grid__column--2">
                <label asp-for="ConfirmPassword" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="ConfirmPassword" class="form-field__input form-field__input--text" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>


        <div class="form-field__button">
            <button class="button button--secondary" type="submit">تحيين</button>
        </div>


    </form>

</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
