@model HAICOP.Models.AccountViewModels.EditProfileViewModel
@{
    ViewData["Title"] = "تحيين مستعمل";
    ViewData["SubMenu"] = "التصرف في المستعملين";
}


<div class="panel panel-default">
    <div class="panel-heading">
         <h3 class="panel-title">تحيين مستعمل</h3>
    </div>
    <div class="panel-body">
        <form asp-controller="Account" asp-action="Edit" method="post" class="form-horizontal">
            <input asp-for="UserId" type="hidden"/>
            <div class="form-group">
                <label asp-for="UserName" class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FirstLastName" class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="FirstLastName" class="form-control" />
                    <span asp-validation-for="FirstLastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <select asp-for="Role" asp-items="ViewBag.Role">
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-8">
                    <button type="submit" class="btn ls-light-green-btn">تحيين</button>
                </div>
            </div>
        </form>                            
    </div>
</div>


@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
        await Html.RenderPartialAsync("_SelectizeScript"); 
        <script>
            $("#Role").selectize();
        </script>
    }
}

@section Styles {
    @{ await Html.RenderPartialAsync("_SelectizeStyle");}
}
