@model LoginViewModel

@{Layout = null; }

<!doctype html>
<html lang="ar-AE" dir="rtl">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <title>الدخول إلى الحساب</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="" />

    <link href="~/css/ar/static.ar.b.css" media="all" rel="stylesheet" type="text/css">
    <link href="~/css/ar/dewa-style.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="~/css/ar/typography.ar.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/css/ar/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />





    <!--[if lte IE 9]>
        <link href="content/static.msie_9.css" media="all" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="content/static.msie_8.ar.css" media="all" rel="stylesheet" type="text/css">
      <script>
        document.createElement( 'header' );
        document.createElement( 'footer' );
        document.createElement( 'nav' );
        document.createElement( 'section' );
    </script>
    <![endif]-->

    <link rel="shortcut icon" href="content/images/favicon.ico">

    <style type="text/css">
        .ajax-loader-overlay {
            position: absolute;
            top: 0;
            background: url("content/images/roller.gif") no-repeat;
        }

        .ajax-placeholder {
            min-height: 100px;
            position: relative;
        }

        .validation-summary-errors ul li {
            padding-bottom: 5px;
        }

        .bidi-override-ltr {
            direction: ltr;
            unicode-bidi: bidi-override;
        }
    </style>

    <script type="text/javascript" src="lib/jquery-1.11.3.min.js"></script>

</head>
<body id="page">
    <!--[if lte IE 8]>
        <div class="browserupgrade">
            <div class="grid browserupgrade__grid-row">
                <div class="grid__column grid__column--12">
                        <p dir="rtl" class="browserupgrade__message">المتصفح قديم. الرجاء القيام بترقية المتصفح للاستخدام الأمثل للموقع.</p>
                </div>
            </div>
        </div>
    <![endif]-->





    <div id="rs_area" class="grid">
        <div class="grid__row">
            <div class="grid__column grid__column--12">
                <div class="m26-page-title title_message">

                    <h1 class="text__page-title">الدخول إلى حسابي</h1>
                </div>
            </div>
        </div>



        <div class="grid">

            <div class="grid__row">
                <div class="grid__column grid__column--12 grid__column--form">
                    <form asp-action="Login" asp-controller="Account" class="form" method="post">

                        <fieldset class="fieldset">
                            <legend class="legend-color">.</legend>
                            <div class="form-field form-field--text">
                                <label for="Email" class="form-field__label">
                                    اسم المستخدم

                                </label>
                                <span class="form-field__input-wrapper">
                                    <input asp-for="Email" class="form-field__input form-field__input--text" placeholder="اسم المستخدم" />
                                </span>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-field form-field--text">
                                <label for="form-field-login-main-password" class="form-field__label">
                                    كلمة المرور

                                </label>
                                <span class="form-field__input-wrapper">
                                    <input asp-for="Password" class="form-field__input form-field__input--text"  />
                                </span>
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                        </fieldset>
                        <div class="form-field__button">
                            <button id="loginButton" type="submit" class="button button--primary" data-submission-text="جاري الدخول...">دخول</button>
                        </div>
                    </form>
                    <ul class="form-links">
                        <li class="form-links__item"><a href="forgot-password.html" class="form-links__link">نسيت كلمة المرور؟</a></li>
                        <li class="form-links__item"><a href="forgot-username.html" class="form-links__link">هل فقدت اسم المستخدم؟</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</body>
</html>