@model RegisterViewModel


<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <form class="form" asp-controller="Account" asp-action="Register" method="post">

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="UserName" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="UserName" class="form-field__input form-field__input--text" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="FirstLastName" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="FirstLastName" class="form-field__input form-field__input--text" />
                <span asp-validation-for="FirstLastName" class="text-danger"></span>
            </div>
        </div>


        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Email" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="Email" class="form-field__input form-field__input--text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="Role" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                    @Html.DropDownList("Role", new SelectList(Model.Roles, "NormalizedName", "Name"), "", new { @class = "form-field__input form-field__input--select" })
                </span>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Password" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="Password" class="form-field__input form-field__input--text" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="ConfirmPassword" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="ConfirmPassword" class="form-field__input form-field__input--text" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>


        <div class="form-field__button">
            <button class="button button--primary" type="submit">إضافة</button>
        </div>


    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





