@model HAICOP.Models.AffectView

<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>
    <form class="form" asp-controller="Marsed" asp-action="Info" method="post" data-form="true">

        <input type="hidden" asp-for="DossierID" />
        <input type="hidden" asp-for="AcheteurID" />
        <input type="hidden" asp-for="FournisseurID" />

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="AcheteurID" class="form-field__label">المشتري العمومي</label>
            </div>
            <div class="grid__column grid__column--4">
                <select asp-for="AcheteurID" asp-items="ViewBag.AcheteurID">
                    <option value=""></option>
                </select>
                <span asp-validation-for="AcheteurID" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="Type" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<DossierType>()">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Subject" class="form-field__label "></label>
            </div>
            <div class="grid__column grid__column--10">
                <textarea asp-for="Subject" class="form-field__input form-field__input--text"></textarea>
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--5">
                <label asp-for="IsSmall" class="col-md-3 control-label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="IsSmall" class="form-control" />
                <span asp-validation-for="IsSmall" class="text-danger"></span>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="TotalLocal" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="TotalLocal" class="form-field__input form-field__input--text" />
                <span asp-validation-for="TotalLocal" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="Financement" class="col-md-3 control-label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <select asp-for="Financement" asp-items="Html.GetEnumSelectList<Financement>()">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Financement" class="text-danger"></span>
            </div>

        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="NbrLot" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--1">
                <input asp-for="NbrLot" class="form-field__input form-field__input--text" />
                <span asp-validation-for="NbrLot" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--1">
                <label asp-for="Mode" class="col-md-3 control-label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <select asp-for="Mode" asp-items="Html.GetEnumSelectList<ModePassation>()">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Mode" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="FournisseurID" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <select asp-for="FournisseurID" asp-items="ViewBag.FournisseurID">
                    <option value=""></option>
                </select>
                <span asp-validation-for="FournisseurID" class="text-danger"></span>
            </div>
        </div>


        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Nationalite" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="Nationalite" class="form-field__input form-field__input--text"  readonly="readonly"/>
                <span asp-validation-for="Nationalite" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="Speciality" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="Speciality" class="form-field__input form-field__input--text" readonly="readonly"/>
                <span asp-validation-for="Speciality" class="text-danger"></span>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Category" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="Category" class="form-field__input form-field__input--text" readonly="readonly"/>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="Activity" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="Activity" class="form-field__input form-field__input--text" readonly="readonly"/>
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
        </div>


        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="DateAnConc" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="DateAnConc" class="form-field__input form-field__input--text" />
                <span asp-validation-for="DateAnConc" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="DateDebu" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="DateDebu" class="form-field__input form-field__input--text" />
                <span asp-validation-for="DateDebu" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="DatePro" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="DatePro" class="form-field__input form-field__input--text" />
                <span asp-validation-for="DatePro" class="text-danger"></span>
            </div>
        </div>



        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="DateLastChanceAccept" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="DateLastChanceAccept" class="form-field__input form-field__input--text" />
                <span asp-validation-for="DateLastChanceAccept" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="DateTraveau" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="DateTraveau" class="form-field__input form-field__input--text" />
                <span asp-validation-for="DateTraveau" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="DateAvis" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="DateAvis" class="form-field__input form-field__input--text" />
                <span asp-validation-for="DateAvis" class="text-danger"></span>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="DateOpen" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="DateOpen" type="datetime-local" class="form-field__input form-field__input--text" />
                <span asp-validation-for="DateOpen" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="DelaiTraveau" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="DelaiTraveau" class="form-field__input form-field__input--text" />
                <span asp-validation-for="DelaiTraveau" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="NbrChaier" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--1">
                <input asp-for="NbrChaier" class="form-field__input form-field__input--text" />
                <span asp-validation-for="NbrChaier" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--1">
                <label asp-for="NbrOffre" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--1">
                <input asp-for="NbrOffre" class="form-field__input form-field__input--text" />
                <span asp-validation-for="NbrOffre" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--3">
                <label asp-for="NbrSuppBeforeFinance" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--1">
                <input asp-for="NbrSuppBeforeFinance" class="form-field__input form-field__input--text" />
                <span asp-validation-for="NbrSuppBeforeFinance" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="NbrOffreFinance" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--1">
                <input asp-for="NbrOffreFinance" class="form-field__input form-field__input--text" />
                <span asp-validation-for="NbrSuppBeforeFinance" class="text-danger"></span>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Valeur" class="form-field__label">معلومات حول تقييم العروض </label>
            </div>
            <div class="grid__column grid__column--10">
                <select asp-for="Valeur" asp-items="Html.GetEnumSelectList<Valeur>()" class="form-field__input form-field__input--select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Valeur" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Critere" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="Critere" class="form-field__input form-field__input--text" />
                <span asp-validation-for="Critere" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="NbrConform" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="NbrConform" class="form-field__input form-field__input--text" />
                <span asp-validation-for="NbrConform" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="CritereComplex" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="CritereComplex" class="form-field__input form-field__input--text" />
                <span asp-validation-for="CritereComplex" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="CritereImportance" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="CritereImportance" class="form-field__input form-field__input--text" />
                <span asp-validation-for="CritereImportance" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="NbrTech" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="NbrTech" class="form-field__input form-field__input--text" />
                <span asp-validation-for="NbrTech" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="NbrFinance" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="NbrFinance" class="form-field__input form-field__input--text" />
                <span asp-validation-for="NbrFinance" class="text-danger"></span>
            </div>
        </div>


        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="NaturePrice" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <select asp-for="NaturePrice" asp-items="Html.GetEnumSelectList<NaturePrice>()" class="form-field__input form-field__input--select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="NaturePrice" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="MethodPrice" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <select asp-for="MethodPrice" asp-items="Html.GetEnumSelectList<MethodPrice>()" class="form-field__input form-field__input--select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="MethodPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="TotalEstimation" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="TotalEstimation" class="form-field__input form-field__input--text" />
                <span asp-validation-for="TotalEstimation" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="Description" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <textarea asp-for="Description" class="form-field__input form-field__input--text"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

        </div>




        <div class="form-field__button">
            <button class="button button--primary" type="submit">إضافة</button>
        </div>
    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_SelectizeScript");
        <script>
            $("#AcheteurID").selectize();
            $("#Type").selectize();
            $("#Financement").selectize();
            $("#Method").selectize();
            $("#FournisseurID").selectize();
            $('#Mode').selectize();

            $("#FournisseurID").change(function () {
                $.post("/Marsed/Ach/" + $("#FournisseurID").val(), function (data) {
                    if (data) {
                        $("#Nationalite").val(data.nationalite);
                        $("#Category").val(data.category);
                        $("#Speciality").val(data.speciality);
                        $("#Activity").val(data.activity);
                    } else {
                        $("#Nationalite").val("");
                        $("#Category").val("");
                        $("#Speciality").val("");
                        $("#Activity").val("");
                    }
                });
            });
        </script>
    }
}

@section Styles {
    @{ await Html.RenderPartialAsync("_SelectizeStyle");}
}


