@model HAICOP.Models.SearchFina

<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <form class="form" asp-controller="Search" asp-action="TypeFinancement" method="post">

        <div class="grid__row">
            <div class="grid__column grid__column--3">
                <label for="Financement" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--9">
                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                    <select asp-for="Financement" asp-items="Html.GetEnumSelectList<Financement>()" class="form-field__input form-field__input--select">
                        <option value=""></option>
                    </select>
                </span>
                <span asp-validation-for="Financement" class="text-danger"></span>
            </div>
        </div>



        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="From" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="From" class="form-field__input form-field__input--text" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="To" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="To" class="form-field__input form-field__input--text" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
        </div>



        <div class="form-field__button">
            <button class="button button--primary" type="submit">بحث</button>
        </div>


    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




<div class="panel panel-default">
    <div class="panel-heading">
         <h3 class="panel-title">@ViewData["Title"]</h3>
    </div>
    <div class="panel-body">
        <form asp-controller="Search" asp-action="TypeFinancement"  method="post" >
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label" asp-for="Financement"> </label>
                    <div class="col-md-10">
                        <select asp-for="Financement" asp-items="Html.GetEnumSelectList<Financement>()"></select>
                        <span asp-validation-for="Financement" class="text-danger"></span>
                    </div>
                    <label class="col-md-2 control-label" asp-for="From"> </label>
                    <div class="col-md-4">
                        <input asp-for="From" class="form-control" />
                        <span asp-validation-for="From" class="text-danger"></span>
                    </div>

                    <label class="col-md-2 control-label" asp-for="To"> </label>
                    <div class="col-md-4">
                        <input asp-for="To" class="form-control" />
                        <span asp-validation-for="To" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn ls-red-btn">بحث</button>
                    </div>
                </div>
            </div>  
        </form>                            
    </div>
</div>


@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
        await Html.RenderPartialAsync("_SelectizeScript"); 
        <script>
            $("#Financement").selectize();
        </script>
    }
}

@section Styles {
    @{ await Html.RenderPartialAsync("_SelectizeStyle");}
}