@model HAICOP.Models.Commission


<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <form class="form" asp-controller="Comm" asp-action="Edit" method="post">
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="HavePresident" />

        <div class="grid__row">
            <div class="grid__column grid__column--3">
                <label asp-for="Lbl" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--9">
                <input asp-for="Lbl" class="form-field__input form-field__input--text" />
                <span asp-validation-for="Lbl" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--3">
                <label asp-for="LblFr" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--9">
                <input asp-for="LblFr" class="form-field__input form-field__input--text" />
                <span asp-validation-for="LblFr" class="text-danger"></span>
            </div>
        </div>


        <div class="grid__row">
            <div class="grid__column grid__column--3">
                <label asp-for="Code" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--9">
                <input asp-for="Code" class="form-field__checkbox" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>

        <div class="form-field__button">
            <button class="button button--secondary" type="submit">تحيين</button>
        </div>


    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

