@media print {
    a[href]:after {
        content: none !important;
    }
    .dataTables_length, .dataTables_filter, .dataTables_paginate , .dataTables_info {
        display: none !important;
    }
}


.text-danger {
    color: #EA4335;
}

.text-green {
    color: #37AA33 !important;
}

/*body {
    background-color: #e9ebee;
}*/


form.m12-search__item button.m12-search__submit {
    margin-top: -40px;
}