@model HAICOP.Models.DocInOJ


<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <form class="form" asp-controller="OJ" asp-action="AddDoc" method="post">
        <input type="hidden" asp-for="OJID" />


        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="DossierID" class="form-field__label">الملف</label>
            </div>
            <div class="grid__column grid__column--6">
                <select asp-for="DossierID" asp-items="@ViewBag.DossierID">
                    <option value=""></option>
                </select>
                <span asp-validation-for="DossierID" class="text-danger"></span>
            </div>

            <div class="grid__column grid__column--4">
                <input asp-for="Date" type="datetime-local" class="form-field__input form-field__input--text" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>

        <div class="form-field__button">
            <button class="button button--primary" type="submit">اظافة</button>
        </div>


    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_SelectizeScript");
        <script>
            $("#DossierID").selectize();
        </script>
    }
}

@section Styles {
    @{ await Html.RenderPartialAsync("_SelectizeStyle");}
}


