@model HAICOP.Models.AddFina





<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <form class="form" asp-controller="Doc" asp-action="AddFina" method="post" novalidate="" data-form="true" data-parsley-focus="none">

        <input type="hidden" asp-for="DossierID" />
        <input type="hidden" asp-for="Foreign" />

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label for="Financement" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--10">
                    <select asp-for="Financement" asp-items="Html.GetEnumSelectList<Financement>()" >
                        <option value=""></option>
                    </select>
                <span asp-validation-for="Financement" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row hide_row">
            <div class="grid__column grid__column--2">
                <label for="Financement" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--10">
                    <select asp-for="ForeignInvestisseurID" >
                        <option value=""></option>
                    </select>
                <span asp-validation-for="ForeignInvestisseurID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-field__button">
            <button class="button button--primary" type="submit">إضافة</button>
        </div>


    </form>

</div>






@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_SelectizeScript");
        <script>

            var $f = $("#ForeignInvestisseurID").selectize({
                valueField: 'id',
                labelField: 'name',
                searchField: ['name'],
                onChange: function (value) {
                    $("#Foreign").val(this.getItem(this.getValue()).text());
                }
            });

            var f = $f[0].selectize;

            var xhrf;

            f.disable();

            $("#Financement").selectize({
                onChange: function (value) {
                    if (!value.length) return;
                    if (value != 2) { f.clearOptions(); f.disable(); return };
                    f.clearOptions();
                    f.load(function (callback) {
                        xhrf && xhrf.abort();
                        xhrf = $.ajax({
                            url: '/api/four',
                            success: function (results) {
                                f.enable();
                                callback(results);
                            },
                            error: function () {
                                callback();
                                f.disable();
                            }
                        })
                    });
                }
            });

        </script>
    }
}

@section Styles {
    @{ await Html.RenderPartialAsync("_SelectizeStyle");}
}
