@model HAICOP.Models.AddMail



<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <form class="form" asp-controller="Doc" asp-action="AddMail" method="post" enctype="multipart/form-data">

        <input type="hidden" asp-for="DossierID" />

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label for="AgentID" class="form-field__label">المقرر</label>
            </div>
            <div class="grid__column grid__column--10">
                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                    <select id="AgentID" name="AgentID" asp-items="ViewBag.AgentID" class="form-field__input form-field__input--select">
                        <option value=""></option>
                    </select>
                </span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Ref" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="Ref" class="form-field__input form-field__input--text" />
                <span asp-validation-for="Ref" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="OriginRef" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="OriginRef" class="form-field__input form-field__input--text" />
                <span asp-validation-for="OriginRef" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="From" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--2">
                <input asp-for="From" class="form-field__input form-field__input--text" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="MailType" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                    <select asp-for="MailType" asp-items="Html.GetEnumSelectList<MailType>()" class="form-field__input form-field__input--select">
                        <option value=""></option>
                    </select>
                </span>
                <span asp-validation-for="MailType" class="text-danger"></span>
            </div>

            <div class="grid__column grid__column--2">
                <label asp-for="MailNature" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                    <select asp-for="MailNature" asp-items="Html.GetEnumSelectList<MailNature>()" class="form-field__input form-field__input--select">
                        <option value=""></option>
                    </select>
                </span>
                <span asp-validation-for="MailNature" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="MailDate" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <input asp-for="MailDate" class="form-field__input form-field__input--text" />
                <span asp-validation-for="MailDate" class="text-danger"></span>
            </div>
            <div class="grid__column grid__column--2">
                <label asp-for="Desc" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--4">
                <textarea asp-for="Desc" class="form-field__input form-field__input--text"> </textarea>
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column grid__column--2">
                <label asp-for="Url" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--10">
                <input asp-for="Location" class="form-field__input form-field--upload" accept=".pdf" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>

        <div class="form-field__button">
            <button class="button button--primary" type="submit">إضافة</button>
        </div>


    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_SelectizeScript");
    }
}

@section Styles {
    @{ await Html.RenderPartialAsync("_SelectizeStyle");}
}
