@model HAICOP.Models.Acheteur

<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column--12">
            <div class="m26-page-title title_message">
                <h1 class="text__page-title">@ViewBag.Menu</h1>
            </div>
        </div>
    </div>

    <form class="form" asp-controller="Acheteur" asp-action="Create" method="post">

        <div class="grid__row">
            <div class="grid__column grid__column--3">
                <label asp-for="Lbl" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--9">
                <input asp-for="Lbl" class="form-field__input form-field__input--text" />
                <span asp-validation-for="Lbl" class="text-danger"></span>
            </div>
        </div>

        <div class="grid__row">
            <div class="grid__column grid__column--3">
                <label asp-for="Nature" class="form-field__label"></label>
            </div>
            <div class="grid__column grid__column--9">
                <span class="form-field__input-wrapper form-field__input-wrapper--select">
                    <select asp-for="Nature" asp-items="Html.GetEnumSelectList<NatureAcheteur>()" class="form-field__input form-field__input--select">
                        <option value=""></option>
                    </select>
                </span>
                <span asp-validation-for="Nature" class="text-danger"></span>
            </div>
        </div>

        <div class="form-field__button">
            <button class="button button--primary" type="submit">إضافة</button>
        </div>


    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

